
@media only screen and (max-width: 768px){
    .sticky {
        padding: 0% 5%;
    }

    .title-text {
        margin-left: 20%;
    }

}

@media only screen and (max-width: 425px){

    .title-text {
        margin-left: 6%;
        width: 80%;
    }
}