
@media only screen and (max-width: 768px){
    .sticky {
        padding: 0% 5%;
    }

    .title-text {
        margin-left: 20%;
    }

}

@media only screen and (max-width: 425px){

    .title-text {
        margin-left: 6%;
        width: 90%;
    }

    .content-1 .curcle {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 320px){
    
    .site-title h2 {
        font-size: 1.9em;
    }

    .title-text {
        margin-left: 2%;
        width: 100%;
    }

    .btn-sub2 {
        display: none;
    }

    .btn-sub1 {
        margin-top: 50px;
    }

}

@media only screen and (max-width: 375px) {

    .btn-sub1 {
        margin-top: 50px;
    }
}